.wrapper {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    /*flex : 1 , 400px;*/
    /*grid-template-columns: repeat(auto-fill, 200px);*/
    /*grid-auto-rows: 1fr;*/

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto 70px 70px;
    gap: 10px;
    height: 800px;
    background: yellow;
    grid-template-areas:
    "header header header"
    "footer   footer   main"
    "footer footer main"
    "nav nav nav"
    ;
}

.section{
    background: red;
}
.nav{background-color: blue; grid-area: nav;}
.header{grid-area: header;}
.main{grid-area: main;}
.footer{grid-area: footer;}

/*.section1 {*/
/*    background-color: darkgrey;*/
/*    grid-row-start: 1;*/
/*    grid-row-end: 4;*/
/*}*/

/*.section2 {*/
/*    background-color: red;*/
/*    grid-row: 1/3;*/
/*    grid-column: 2/4;*/
/*}*/

/*.section3 {*/
/*    background-color: yellow;*/
/*    grid-row: 3;*/
/*    grid-column-start: 2;*/
/*    grid-column-end: 4;*/
/*}*/